<div class="footer">
    <div class="footer-top">
        <div class="wrap">
          <div class="section group example">
            <div class="col_1_of_2 span_1_of_2">
                <ul class="f-list">
                  <li><img src="assets/images/2.png"><span class="f-text">Giao hàng tận nhà</span><div class="clear"></div></li>
                </ul>
            </div>
            <div class="col_1_of_2 span_1_of_2">
                <ul class="f-list">
                  <li><img src="assets/images/3.png"><span class="f-text">1800003811 (Miễn phí cuộc gọi) </span><div class="clear"></div></li>
                </ul>
            </div>
            <div class="clear"></div>
          </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="wrap">
       <div class="section group example">
          <div class="col_1_of_f_1 span_1_of_f_1">
             <div class="section group example">
               <div class="col_1_of_f_2 span_1_of_f_2">
                  <h3>BÁN CÁC LOẠI XE</h3>
                    <script>(function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                      fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="like_box">	
                        <div class="fb-like-box" data-href="http://www.facebook.com/w3layouts" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
                    </div>
               </div>
              <div class="col_1_of_f_2 span_1_of_f_2">
                <div class="col_1_of_f_2 span_1_of_f_2">
                  <h3>Sản phẩm</h3>
                      <ul class="f-list1">
                          <li><a href="bongda">Mua xe</a></li>
                          <li><a href="gym">Dịch vụ</a></li>
                          <li><a href="yoga">Chăm sóc khách hàng</a></li>							
                       </ul>
                </div>   
            </div>
            <div class="clear"></div>
          </div>
          </div>
         <div class="col_1_of_f_1 span_1_of_f_1">
           <div class="section group example">
             <div class="col_1_of_f_2 span_1_of_f_2">
                <h3>Hỗ trợ khách hàng</h3>
                    <ul class="f-list1">
                        <li><a href="#">Quy định chung</a></li>
                        <li><a href="#">Bảo mật thông tin</a></li>
                        <li><a href="#">Hướng dẫn tạo tài khoản</a></li>														
                        <li><a href="#">Các câu hỏi thường gặp</a></li>
                     </ul>
              </div>
             
             <div class="col_1_of_f_2 span_1_of_f_2">
               <h3>Liên hệ</h3>
                    <div class="company_address">
                                <p>79 Lê Thị Hoa</p>
                                   <p>Phường Bình Chiểu, Quận Thủ Đức,</p>
                                   <p>Tp. Hồ Chí Minh</p>
                           <p>Phone: 0944075438</p>
                           <p>Fax: (028) 999 000 999</p>
                          <p>Email: <span>MaiHuy@nttu.edu.vn</span></p>
                           
                   </div>
                   <div class="social-media">
                         <ul>
                            <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a href="#" target="_blank"> </a></span></li>
                            <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Linked in"><a href="#" target="_blank"> </a> </span></li>
                            <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Rss"><a href="#" target="_blank"> </a></span></li>
                            <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="#" target="_blank"> </a></span></li>
                        </ul>
                   </div>
            </div>
            <div class="clear"></div>
        </div>
       </div>
      <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
        <div class="wrap">
             <div class="copy">
                <p>© 2021- Mai Thanh Huy - Quách Thanh Nhàn <a href="ntt.edu.vn" target="_blank"> - Nguyễn Tất Thành Universiry</a></p>
             </div>
            <div class="f-list2">
             <ul>
                <li class="active"><a href="chamsoc">Giới thiệu</a></li> |
                <li><a href="index.html">Giao hàng & Trả hàng</a></li> |
                <li><a href="index.html">Điều khoản & điều kiện</a></li> |
                <li><a href="index.html">Liên hệ</a></li> 
             </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>