
<section id="Slider">
    <div class="aspect-ratio-169">
        <img src="./assets/images/banner2.jpg" alt="">
    </div>
    </section>
<h2 class="head" style="margin-bottom: 20px;margin-top: 20px;text-align: center;">Tin tức</h2>
      <div class="top-box1">
        <div class="col_1_of_3 span_1_of_3">
            <a routerLink="/bangtin">
              <div class="inner_content clearfix">
              <div class="product_image">
                <img src="./assets/images/tt4.jpg" alt=""/>
              </div>
              <div class="price">
              <div class="cart-left">
                  <p class="title" style="color:black">AUTOMOBILI 
                    ACCESSORI ORIGINALI PRESENTS URUS ROOF BIKE CARRIER.</p>
              </div>
                      <div class="clear"></div>
                              </div>				
                            </div>
                            </a>
                        </div>
        <div class="col_1_of_3 span_1_of_3">
            <a routerLink="/bangtin">
                <div class="inner_content clearfix">
                <div class="product_image">
                    <img src="./assets/images/tt2.jpg" alt=""/>
                </div>
                <div class="price">
                    <div class="cart-left">
                          <p class="title" style="color:black">NEWS <br/>
                            AUTOMOBILI LAMBORGHINI AT MOTOR VALLEY FEST 2022 </p>
                          
                      </div>
                 
                      <div class="clear"></div>
                  </div>				
                </div>
                </a>
          </div>
          <div class="col_1_of_3 span_1_of_3">
            <a routerLink="/bangtin">
                <div class="inner_content clearfix">
                <div class="product_image">
                    <img src="./assets/images/tt3.jpg" alt=""/>
                </div>
                <div class="price">
                <div class="cart-left">
                      <p class="title" style="color:black">NEWS
                        V12: TRIBUTE TO THE ENGINE THAT MADE THE LAMBORGHINI DNA</p>
                    
                  </div>
               
                  <div class="clear"></div>
              </div>				
            </div>
            </a>
            </div>
          <div class="clear"></div>
      <div class="top-box1">
        <div class="col_1_of_3 span_1_of_3">
          <a routerLink="/bangtin">
              <div class="inner_content clearfix">
              <div class="product_image">
                  <img src="./assets/images/tt1.jpg" alt=""/>
              </div>
              <div class="price">
                <div class="cart-left">
                      <p class="title" style="color:black">NEW <br/>Hyundai SantaFe 2022: Chinh phục người dùng từ mọi góc độ</p>
               
                  </div>
               
                  <div class="clear"></div>
              </div>				
            </div>
            </a>
          </div>
          <div class="col_1_of_3 span_1_of_3">
              <a routerLink="/bangtin">
                  <div class="inner_content clearfix">
                  <div class="product_image">
                      <img src="./assets/images/tt5.jpg" alt=""/>
                  </div>
                      <div class="price">
                        <div class="cart-left">
                              <p class="title" style="color:black">Soi từng ngóc ngách MPV Hyundai CUSTO hoàn toàn mới qua loạt ảnh thực tế</p>
                             
                          </div>
      
                          <div class="clear"></div>
                      </div>				
                    </div>
                    </a>
            </div>
            <div class="col_1_of_3 span_1_of_3">
              <a routerLink="/bangtin">
                  <div class="inner_content clearfix">
                  <div class="product_image">
                      <img src="./assets/images/tt6.jpg" alt=""/>
                  </div>
                  <div class="price">
                    <div class="cart-left">
                          <p class="title" style="color:black">Diện kiến Sedan hiệu năng cao Hyundai ELANTRA N 2022 chinh phục thị trường Mỹ</p>
           
                      </div>
                
                      <div class="clear"></div>
                  </div>				
                </div>
                </a>
              </div>
            <div class="clear"></div>
                                             