<div class="header-top">
    <div class="wrap"> 
          <div class="cssmenu">
             <ul>
                 <li class="active"><a href="dangnhap">Đăng nhập</a></li> |
                 <li><a routerLink="chamsoc">Giới thiệu công ty</a></li> |
                 <li><a routerLink="chamsoc">Thông tin tuyển dụng</a></li>
             </ul>
         </div>
         <div class="clear"></div>
      </div>
 <div class="header-bottom">
    <div class="wrap">
        <div class="header-bottom-left">
            <div class="logo">
                <a href="index.html"><img src="./assets/images/logo.jpg" alt=""/></a>
            </div>
            <div class="menu">
                <ul class="megamenu skyblue">
                <li><a class="color4" href="sanpham" style="color:white; padding-top: 30px;">CÁC DÒNG XE</a></li>				
                <li><a class="color6" href="muaxe" style="color:white;">Tin tức</a></li>
                <li><a class="color7" href="dichvu" style="color:white;">DỊCH VỤ</a></li>
                <li><a class="color7" href="chamsoc" style="color:white;">CHĂM SÓC KHÁCH HÀNG</a></li>
                </ul>
            </div>
    </div>
   <div class="header-bottom-right">
     <div class="search">	  
            <input type="text" name="s" class="textbox" value="Tìm kiếm" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tìm kiếm';}">
            <input type="submit" value="Subscribe" id="submit" name="submit">
            <div id="response"> </div>
     </div>
      <div class="tag-list">	    
    <ul class="icon1 sub-icon1 profile_img">
        <li><a class="active-icon c2" href="card"> </a>
            <ul class="sub-icon1 list">
                <li><h3>Giỏ hàng của bạn</h3></li>
                <li>
                    <div class="col_1_of_3 span_1_of_3" style="margin-left: 10px;"><img src="./assets/images/xe1.jpg" width="100px" height="100px"/></div></li>
                    <li><p>	Grand i10 Hatchback</p></li>
                    <li><p>Số lượng: 1</p></li>
                    <li><hr/></li>
                <li><p>Tạm tính: 660.000.000đ</p></li><li style="padding-top: 30px;"><a routerLink="/card"><input class="col_1_of_3 span_1_of_3" style="text-align: center;width: 200px;height: 30px;font-weight: bold;margin-left: 50px;" type="button" value="XEM GIỎ HÀNG"/></a></li>
            </ul>
            
        </li>
    </ul>
     <ul class="last"><li style="color:white ;">Đơn hàng (1)</li></ul>
  </div>
</div>
 <div class="clear"></div>
 </div>
</div>


