<section id="Slider">
    <div class="aspect-ratio-169">
        <img src="./assets/images/banner3.jpg" alt="">
    </div>
    </section>
<h2 class="head" style="margin-bottom: 20px;margin-top: 20px;text-align: center;">Dòng xe Hyundai</h2>
      <div class="top-box1">
        <div class="col_1_of_3 span_1_of_3">
            <a routerLink="/detail">
              <div class="inner_content clearfix">
              <div class="product_image">
                <img src="./assets/images/xe1.jpg" alt=""/>
              </div>
              <div class="price">
              <div class="cart-left">
                  <p class="title">Grand i10 Hatchback</p>
                      <div class="price1">
                          <span class="actual">Giá từ 360.000.000₫</span>
                      </div>
              </div>
                      <div class="cart-right"> </div>
                      <div class="clear"></div>
                              </div>				
                            </div>
                            </a>
                        </div>
        <div class="col_1_of_3 span_1_of_3">
            <a routerLink="/detail">
                <div class="inner_content clearfix">
                <div class="product_image">
                    <img src="./assets/images/xe2.jpg" alt=""/>
                </div>
                <div class="price">
                    <div class="cart-left">
                            <p class="title">Accent</p>
                            <div class="price1">
                            <span class="actual">Giá từ 470.000.000₫</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>				
                </div>
                </a>
            </div>
        <div class="col_1_of_3 span_1_of_3">
            <a routerLink="/detail">
                <div class="inner_content clearfix">
                <div class="product_image">
                    <img src="./assets/images/xe3.jpg" alt=""/>
                </div>
                <div class="price">
                <div class="cart-left">
                        <p class="title">Elantra</p>
                        <div class="price1">
                        <span class="actual">Giá từ 580.000.000₫</span>
                        </div>
                    </div>
                    <div class="cart-right"> </div>
                    <div class="clear"></div>
                </div>				
            </div>
            </a>
            </div>
            <div class="clear"></div>
            <div class="top-box1">
        <div class="col_1_of_3 span_1_of_3">
            <a routerLink="/detail">
                <div class="inner_content clearfix">
                <div class="product_image">
                    <img src="./assets/images/xe4.jpg" alt=""/>
                </div>
                <div class="price">
                <div class="cart-left">
                        <p class="title">Kona</p>
                        <div class="price1">
                        <span class="actual">Giá từ 636.000.000₫</span>
                        </div>
                    </div>
                    <div class="cart-right"> </div>
                    <div class="clear"></div>
                </div>				
            </div>
            </a>
            </div>
        <div class="col_1_of_3 span_1_of_3">
                <a routerLink="/detail">
                    <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="./assets/images/xe5.jpg" alt=""/>
                    </div>
                        <div class="price">
                        <div class="cart-left">
                                <p class="title">Santafe</p>
                                <div class="price1">
                                <span class="actual">Giá từ 1.003.000.000₫</span>
                                </div>
                            </div>
                            <div class="cart-right"> </div>
                            <div class="clear"></div>
                        </div>				
                    </div>
                    </a>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <a routerLink="/detail">
                    <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="./assets/images/xe6.jpg" alt=""/>
                    </div>
                    <div class="price">
                    <div class="cart-left">
                            <p class="title">Solata</p>
                            <div class="price1">
                            <span class="actual">Giá từ 1.003.000.000₫</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>				
                </div>
                </a>
                </div>
            <div class="clear"></div>
            <div class="top-box1">
            <div class="col_1_of_3 span_1_of_3">
                <a routerLink="/detail">
                    <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="./assets/images/xe7.jpg" alt=""/>
                    </div>
                    <div class="price">
                    <div class="cart-left">
                            <p class="title">Huyndai Tucson</p>
                            <div class="price1">
                            <span class="actual">Giá từ 1.006.000.000₫</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>				
                </div>
                </a>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <a routerLink="/detail">
                    <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="./assets/images/xe7.jpg" alt=""/>
                    </div>
                    <div class="price">
                    <div class="cart-left">
                            <p class="title">Creta</p>
                            <div class="price1">
                            <span class="actual">Giá từ 1.060.000.000₫</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>				
                </div>
                </a>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <a routerLink="/detail">
                    <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="./assets/images/xe1.jpg" alt=""/>
                    </div>
                    <div class="price">
                    <div class="cart-left">
                            <p class="title">Santa Fe</p>
                            <div class="price1">
                            <span class="actual">Giá từ 960.000.000₫</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>				
                </div>
                </a>
                </div>
                <div class="clear"></div>
                <h2 class="head" style="margin-bottom: 20px;margin-top: 20px;text-align: center;">Dòng xe Mercedes</h2>
      <div class="top-box1">
        <div class="col_1_of_3 span_1_of_3">
            <a routerLink="/detail">
              <div class="inner_content clearfix">
              <div class="product_image">
                <img src="./assets/images/xe13.jpg" alt=""/>
              </div>
              <div class="price">
              <div class="cart-left">
                  <p class="title">GLC 
                    Coupé
                    </p>
                      <div class="price1">
                          <span class="actual"> Giá từ 3.099.000.000 ₫</span>
                      </div>
              </div>
                      <div class="cart-right"> </div>
                      <div class="clear"></div>
                              </div>				
                            </div>
                            </a>
                        </div>

                                                              
            <div class="col_1_of_3 span_1_of_3">
            <a routerLink="/detail">
                <div class="inner_content clearfix">
                <div class="product_image">
                    <img src="./assets/images/xe14.jpg" alt=""/>
                </div>
                <div class="price">
                    <div class="cart-left">
                        <p class="title">GLE</p>
                        <div class="price1">
                            <span class="actual">Giá từ 4.409.000.000 ₫</span>
                        </div>
                    </div>
                    <div class="cart-right"> </div>
                    
                </div>				
                </div>
                </a>
            </div>                                           
            <div class="col_1_of_3 span_1_of_3">
                <a routerLink="/detail">
                    <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="./assets/images/xe15.jpg" alt=""/>
                    </div>
                    <div class="price">
                    <div class="cart-left">
                            <p class="title">GLE Coupé</p>
                            <div class="price1">
                            <span class="actual">Giá từ 5.409.000.000 ₫</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        
                    </div>				
                </div>
                </a>
                </div>                                                            
            </div>    
                <div class="clear"></div>
                    <div class="top-box1">                                       
            <div class="col_1_of_3 span_1_of_3">
            <a routerLink="/detail">
                <div class="inner_content clearfix">
                <div class="product_image">
                    <img src="./assets/images/xe16.jpg" alt=""/>
                </div>
                <div class="price">
                    <div class="cart-left">
                            <p class="title">GLS</p>
                            <div class="price1">
                            <span class="actual">Giá từ 5.409.000.000 ₫</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>				
                </div>
                </a>
            </div> 
            <div class="col_1_of_3 span_1_of_3">
            <a routerLink="/detail">
                <div class="inner_content clearfix">
                <div class="product_image">
                    <img src="./assets/images/xe17.jpg" alt=""/>
                </div>
                <div class="price">
                    <div class="cart-left">
                        <p class="title">G-Class</p>
                        <div class="price1">
                            <span class="actual">Giá từ 10.409.000.000 ₫</span>
                        </div>
                    </div>
                    <div class="cart-right"> </div>
                    
                </div>				
                </div>
                </a>
            </div>                                           
            <div class="col_1_of_3 span_1_of_3">
                <a routerLink="/detail">
                    <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="./assets/images/xe18.jpg" alt=""/>
                    </div>
                    <div class="price">
                    <div class="cart-left">
                            <p class="title">Maybach GLS</p>
                            <div class="price1">
                            <span class="actual">Giá từ 11.409.000.000 ₫</span>
                            </div>
                        </div>
                        <div class="cart-right"> </div>
                        <div class="clear"></div>
                    </div>				
                </div>
                </a>
                </div>
                <div class="clear"></div> 
<h2 class="head" style="margin-bottom: 20px;margin-top: 20px;text-align: center;">Dòng xe Lamborghini</h2>   
<div class="top-box1">
    <div class="col_1_of_3 span_1_of_3">
        <a routerLink="/detail">
          <div class="inner_content clearfix">
          <div class="product_image">
            <img src="./assets/images/aventador.jpg" alt=""/>
          </div>
          <div class="price">
          <div class="cart-left">
              <p class="title">aventador</p>
                  <div class="price1">
                      <span class="actual">Giá từ 40.409.000.000 ₫</span>
                  </div>
          </div>
                  <div class="cart-right"> </div>
                  <div class="clear"></div>
                          </div>				
                        </div>
                        </a>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <a routerLink="/detail">
                            <div class="inner_content clearfix">
                            <div class="product_image">
                                <img src="./assets/images/huracanevo.jpg" alt=""/>
                            </div>
                            <div class="price">
                                <div class="cart-left">
                                     <p class="title">huracanevo</p>
                                     <div class="price1">
                                       <span class="actual">Giá từ 50.409.000.000 ₫</span>
                                     </div>
                                 </div>
                                 <div class="cart-right"> </div>
                                 <div class="clear"></div>
                              </div>				
                            </div>
                            </a>
                      </div>
                      <div class="col_1_of_3 span_1_of_3">
                        <a routerLink="/detail">
                           <div class="inner_content clearfix">
                           <div class="product_image">
                               <img src="./assets/images/veneno.jpg" alt=""/>
                           </div>
                           <div class="price">
                            <div class="cart-left">
                                 <p class="title">veneno</p>
                                 <div class="price1">
                                   <span class="actual">Giá từ 50.409.000.000 ₫</span>
                                 </div>
                             </div>
                             <div class="cart-right"> </div>
                             <div class="clear"></div>
                          </div>				
                        </div>
                        </a>
                        </div>
                      <div class="clear"></div>
                      <div class="top-box1">
                        <div class="col_1_of_3 span_1_of_3">
                          <a routerLink="/detail">
                              <div class="inner_content clearfix">
                              <div class="product_image">
                                  <img src="./assets/images/lb1.png" alt=""/>
                              </div>
                              <div class="price">
                                <div class="cart-left">
                                     <p class="title">Lamborghini Aventador S (LP740-4)</p>
                                     <div class="price1">
                                       <span class="actual">Giá từ 50.409.000.000 ₫</span>
                                     </div>
                                 </div>
                                 <div class="cart-right"> </div>
                                 <div class="clear"></div>
                              </div>				
                            </div>
                            </a>
                          </div>
                          <div class="col_1_of_3 span_1_of_3">
                              <a routerLink="/detail">
                                  <div class="inner_content clearfix">
                                  <div class="product_image">
                                      <img src="./assets/images/lb2.jpg" alt=""/>
                                  </div>
                                      <div class="price">
                                        <div class="cart-left">
                                             <p class="title">Lamborghini Aventador LP700-4</p>
                                             <div class="price1">
                                               <span class="actual">Giá từ 66.409.000.000 ₫</span>
                                             </div>
                                         </div>
                                         <div class="cart-right"> </div>
                                         <div class="clear"></div>
                                      </div>				
                                    </div>
                                    </a>
                            </div>
                            <div class="col_1_of_3 span_1_of_3">
                              <a routerLink="/detail">
                                 <div class="inner_content clearfix">
                                 <div class="product_image">
                                     <img src="./assets/images/lb3.jpg" alt=""/>
                                 </div>
                                 <div class="price">
                                    <div class="cart-left">
                                         <p class="title">Lamborghini Aventador LP750-SV</p>
                                         <div class="price1">
                                           <span class="actual">Giá từ 68.409.000.000 ₫</span>
                                         </div>
                                     </div>
                                     <div class="cart-right"> </div>
                                     <div class="clear"></div>
                                  </div>				
                                </div>
                                </a>
                              </div>
                            <div class="clear"></div>
                                                                                             