<section id="Slider">
    <img src="./assets/images/banner5.jpg" alt="">
</section>
<div class="container-fluid p-5 bg-primary text-black text-center bg-light" >
    <h1>Giới thiệu</h1>
    <p>Nhằm mục đích hỗ trợ Quý khách trong quá trình sử dụng xe, Cửa hàng xin được cung cấp thông tin liên hệ của Chăm sóc khách hàng .
    </p>
    <img src="./assets/images/ht1.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h3>Chương trình hội viên Hyundai</h3>
        <p>Để tạo mối quan hệ gắn kết với Khách hàng, từ ngày 01/12/2017, Chương trình Hyundai Membership được chính thức triển khai tại một số Đại lý ủy quyền của Hyundai Thành Công.
            <br/><br/>
            Lưu ý: <br/>
            - Tài khoản Hội viên sẽ chấm dứt nếu thuộc một trong các trường hợp sau:

            Hội viên tự nguyện rút không tham gia chương trình
            Hội viên bán/chuyển nhượng xe sang chủ sở hữu khác
            Hội viên vi phạm điều lệ chương trình:
            Lạm dụng hoặc sử dụng sai mục đích các phần thưởng, các trang thiết bị cơ sở vật chất của Chương trình dành cho Hội viên.
            Có những hành động gian lận hoặc gây thiệt hại về tài chính, dữ liệu, hình ảnh, thương hiệu cho Chương trình, HTV, Đại lý hoặc các đối tác (nếu có) của Chương trình.
            Có những hành động khác mà HTV cho rằng đã vi phạm Điều lệ Chương trình.
            Vậy, Hyundai Thành Công Việt Nam (HTV) xin được trân trọng thông báo!
            
            Mọi thắc mắc xin vui lòng liên hệ Đại lý ủy quyền để được hỗ trợ.</p>
      </div>

  <div class="container-fluid p-5 bg-primary text-black text-center bg-light" >
    <h1>Hướng dẫn sử dụng xe an toàn</h1>
    <img src="./assets/images/ht2.png" alt="">
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-sm">
        <h3>Hướng dẫn</h3>
        <p>Hướng dẫn sử dụng xe an toàn” là một chương trình đào tạo kiến thức và kỹ năng sử dụng xe khi tham gia giao thông do các chuyên viên của Hyundai Thành Công phối hợp cùng toàn bộ hệ thống đại lý Hyundai trên toàn quốc cùng triển khai phục vụ khách hàng trên cả nước.<br/><br/>

            Chương trình bổ ích và ý nghĩa này đã và đang nhận được sự tham gia nhiệt tình và đánh giá rất cao của khách hàng tham dự. Nội dung chương trình gồm 2 phần lý thuyết và thực hành xoay quanh những vấn đề từ căn bản đến nâng cao và cấp thiết cho khách hàng của Hyundai như:<br/> <br/>
            
            * Kiến thức về các tính năng vận hành của các dòng xe Hyundai.<br/>
            * Cách chăm sóc xe, chế độ bảo hành, bảo dưỡng chính hãng cho xe Hyundai.<br/>
            * Cách xử lý một số tình huống khẩn cấp khi lưu thông trên đường.<br/>
            * Một số phương pháp lái xe an toàn cơ bản, phán đoán các tình huống nguy hiểm khi tham gia lưu thông và luật giao thông hiện hành…cùng nhiều thông tin hấp dẫn, bổ ích khác.<br/><br/></p> 
  <div class="container-fluid p-5 bg-primary text-black text-center bg-light" >    
    <img src="./assets/images/ht3.jpg" alt="">
      </div>
      <p>Hyundai TC Motor hy vọng chương trình Hướng dẫn sử dụng xe an toàn sẽ giúp Qúy khách hàng củng cố kiến thức về an toàn giao thông cũng như nâng cao kỹ năng lái xe, giúp đảm bảo an toàn trong khi tham gia lưu thông. Chúng tôi sẽ đồng hành cùng hệ thống Đại lý ủy quyền tiếp tục nâng cao nội dung đào tạo và nhân rộng chương trình ý nghĩa này trong năm 2021 với mục tiêu góp phần xây dựng một xã hội giao thông văn minh và an toàn tại Việt Nam.<br/><br/>

        TC MOTOR | HYUNDAI và hệ thống Đại lý ủy quyền trên toàn quốc trân trọng đón chào Qúy Khách hàng đến với chương trình Hướng dẫn sử dụng xe an toàn trong 2021. Kính chúc Qúy Khách hàng một mùa giáng sinh an lành, 1 năm mới nhiều sức khỏe, an khang - thịnh vượng.<br/> <br/>
    </div>
  </div>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"> 
  