        <section id="Slider">
        <div class="aspect-ratio-169">
        <img src="./assets/images/banner1.jpg" alt="">
        </div>
        </section>
        <h2 class="head" style="margin-bottom: 20px;margin-top: 20px;text-align: center;">Một số loại sản phẩm</h2>
        <div class="top-box1">
        <div class="col_1_of_3 span_1_of_3">
        <a routerLink="/detail">
        <div class="inner_content clearfix">
        <div class="product_image">
        <img src="./assets/images/xe1.jpg" alt=""/>
        </div>
        <div class="price">
        <div class="cart-left">
        <p class="title">Grand i10 Hatchback</p>
        <div class="price1">
        <span class="actual">Giá từ 660.000.000đ</span>
        </div>
        </div>
        <div class="cart-right"> </div>
        <div class="clear"></div>
        </div>				
        </div>
        </a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
        <a routerLink="/detail">
        <div class="inner_content clearfix">
        <div class="product_image">
        <img src="./assets/images/xe2.jpg" alt=""/>
        </div>
        <div class="price">
        <div class="cart-left">
        <p class="title">Accent</p>
        <div class="price1">
        <span class="actual">Giá từ 470.000.000đ</span>
        </div>
        </div>
        <div class="cart-right"> </div>
        <div class="clear"></div>
        </div>				
        </div>
        </a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
        <a routerLink="/detail">
        <div class="inner_content clearfix">
        <div class="product_image">
        <img src="./assets/images/xe3.jpg" alt=""/>
        </div>
        <div class="price">
        <div class="cart-left">
        <p class="title">Elantra</p>
        <div class="price1">
        <span class="actual">Giá từ 580.000.000đ</span>
        </div>
        </div>
        <div class="cart-right"> </div>
        <div class="clear"></div>
        </div>				
        </div>
        </a>
        </div>
        <div class="clear"></div>
        <div class="top-box1">
        <div class="col_1_of_3 span_1_of_3">
        <a routerLink="/detail">
        <div class="inner_content clearfix">
        <div class="product_image">
        <img src="./assets/images/xe4.jpg" alt=""/>
        </div>
        <div class="price">
        <div class="cart-left">
        <p class="title">Kona</p>
        <div class="price1">
        <span class="actual">Giá từ 636.000.000đ</span>
        </div>
        </div>
        <div class="cart-right"> </div>
        <div class="clear"></div>
        </div>				
        </div>
        </a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
        <a routerLink="/detail">
        <div class="inner_content clearfix">
        <div class="product_image">
        <img src="./assets/images/xe5.jpg" alt=""/>
        </div>
        <div class="price">
        <div class="cart-left">
        <p class="title">Santafe</p>
        <div class="price1">
        <span class="actual">Giá từ 1.003.000.000đ</span>
        </div>
        </div>
        <div class="cart-right"> </div>
        <div class="clear"></div>
        </div>				
        </div>
        </a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
        <a routerLink="/detail">
        <div class="inner_content clearfix">
        <div class="product_image">
        <img src="./assets/images/xe6.jpg" alt=""/>
        </div>
        <div class="price">
        <div class="cart-left">
        <p class="title">Solati</p>
        <div class="price1">
        <span class="actual">Giá từ 1.003.000.000đ</span>
        </div>
        </div>
        <div class="cart-right"> </div>
        <div class="clear"></div>
        </div>				
        </div>
        </a>
        </div>
        <div class="clear"></div>
        <div class="top-box1">
        <div class="col_1_of_3 span_1_of_3">
        <a routerLink="/detail">
        <div class="inner_content clearfix">
        <div class="product_image">
        <img src="./assets/images/xe7.jpg" alt=""/>
        </div>
        <div class="price">
        <div class="cart-left">
        <p class="title">Hyundai Tucson</p>
        <div class="price1">
        <span class="actual">Giá từ 1.006.000.000đ</span>
        </div>
        </div>
        <div class="cart-right"> </div>
        <div class="clear"></div>
        </div>				
        </div>
        </a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
        <a routerLink="/detail">
        <div class="inner_content clearfix">
        <div class="product_image">
        <img src="./assets/images/xe1.jpg" alt=""/>
        </div>
        <div class="price">
        <div class="cart-left">
        <p class="title">Toyota Fortuner</p>
        <div class="price1">
        <span class="actual">Giá từ 960.000.000đ</span>
        </div>
        </div>
        <div class="cart-right"> </div>
        <div class="clear"></div>
        </div>				
        </div>
        </a>
        </div>
        <div class="col_1_of_3 span_1_of_3">
        <a routerLink="/detail">
        <div class="inner_content clearfix">
        <div class="product_image">
        <img src="./assets/images/xe2.jpg" alt=""/>
        </div>
        <div class="price">
        <div class="cart-left">
        <p class="title">Grand i10 Sedan</p>
        <div class="price1">
        <span class="actual">Giá từ 380.000.000đ</span>
        </div>
        </div>
        <div class="cart-right"> </div>
        <div class="clear"></div>
        </div>				
        </div>
        </a>
        </div>
        <div class="clear"></div>
        <div class="top-box1">                                       
        <div class="col_1_of_3 span_1_of_3">
        <a routerLink="/detail">
        <div class="inner_content clearfix">
        <div class="product_image">
        <img src="./assets/images/aventador.jpg" alt=""/>
        </div>
        <div class="price">
        <div class="cart-left">
        <p class="title">Lamborghini Aventador</p>
        <div class="price1">
        <span class="actual">Giá từ 60.000.000.000đ</span>
        </div>
        </div>
        <div class="cart-right"> </div>
        <div class="clear"></div>
        </div>				
        </div>
        </a>
        </div>                                                                                        
        <div class="col_1_of_3 span_1_of_3">
        <a routerLink="/detail">
        <div class="inner_content clearfix">
        <div class="product_image">
        <img src="./assets/images/sian.jpg" alt=""/>
        </div>
        <div class="price">
        <div class="cart-left">
        <p class="title">Lamborghini Sian</p>
        <div class="price1">
        <span class="actual">Giá từ 2.150.000 USD</span>
        </div>
        </div>
        <div class="cart-right"> </div>

        </div>				
        </div>
        </a>
        </div>                                           
        <div class="col_1_of_3 span_1_of_3">
        <a routerLink="/detail">
        <div class="inner_content clearfix">
        <div class="product_image">
        <img src="./assets/images/huracanevo.jpg" alt=""/>
        </div>
        <div class="price">
        <div class="cart-left">
        <p class="title">Lamborghini Huracan Evo</p>
        <div class="price1">
        <span class="actual">Giá từ 18.000.000.000đ</span>
        </div>
        </div>
        <div class="cart-right"> </div>
        </div>				
        </div>
        </a>
        </div>

        </div>    
        <div class="clear"></div>
        <div class="top-box1">                                       
        <div class="col_1_of_3 span_1_of_3">
        <a routerLink="/detail">
        <div class="inner_content clearfix">
        <div class="product_image">
        <img src="./assets/images/xe9.jpg" alt=""/>
        </div>
        <div class="price">
        <div class="cart-left">
        <p class="title">GLC 300 Coupe 2022</p>
        <div class="price1">
        <span class="actual">Giá từ 3.008.000.000đ</span>
        </div>
        </div>
        <div class="cart-right"> </div>
        <div class="clear"></div>
        </div>				
        </div>
        </a>
        </div> 
        <div class="col_1_of_3 span_1_of_3">
        <a routerLink="/detail">
        <div class="inner_content clearfix">
        <div class="product_image">
        <img src="./assets/images/xe10.jpg" alt=""/>
        </div>
        <div class="price">
        <div class="cart-left">
        <p class="title">GLC 300 4Matic 2022</p>
        <div class="price1">
        <span class="actual">Giá từ 2.499.000.000đ</span>
        </div>
        </div>
        <div class="cart-right"> </div>
        </div>				
        </div>
        </a>
        </div>                                           
        <div class="col_1_of_3 span_1_of_3">
        <a routerLink="/detail">
        <div class="inner_content clearfix">
        <div class="product_image">
        <img src="./assets/images/xe11.jpg" alt=""/>
        </div>
        <div class="price">
        <div class="cart-left">
        <p class="title">GLC 200 2022</p>
        <div class="price1">
        <span class="actual">Giá từ 1.800.000.000đ</span>
        </div>
        </div>
        <div class="cart-right"> </div>
        <div class="clear"></div>
        </div>				
        </div>
        </a>
        </div>
        <div class="clear"></div>              
        <h2 class="head" style="margin-bottom: 20px;margin-top: 20px;text-align: center;">Tin tức</h2>
        <div class="top-box1">
            <div class="col_1_of_3 span_1_of_3">
                <a routerLink="/detail">
                  <div class="inner_content clearfix">
                  <div class="product_image">
                    <img src="./assets/images/tt4.jpg" alt=""/>
                  </div>
                  <div class="price">
                  <div class="cart-left">
                      <p class="title">AUTOMOBILI 
                        ACCESSORI ORIGINALI PRESENTS URUS ROOF BIKE CARRIER.</p>
                  </div>
                          <div class="clear"></div>
                                  </div>				
                                </div>
                                </a>
                            </div>
            <div class="col_1_of_3 span_1_of_3">
                <a routerLink="/detail">
                    <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="./assets/images/tt2.jpg" alt=""/>
                    </div>
                    <div class="price">
                        <div class="cart-left">
                              <p class="title">NEWS <br/>
                                AUTOMOBILI LAMBORGHINI AT MOTOR VALLEY FEST 2022 </p>
                              
                          </div>
                     
                          <div class="clear"></div>
                      </div>				
                    </div>
                    </a>
              </div>
              <div class="col_1_of_3 span_1_of_3">
                <a routerLink="/detail">
                    <div class="inner_content clearfix">
                    <div class="product_image">
                        <img src="./assets/images/tt3.jpg" alt=""/>
                    </div>
                    <div class="price">
                    <div class="cart-left">
                          <p class="title">NEWS
                            V12: TRIBUTE TO THE ENGINE THAT MADE THE LAMBORGHINI DNA</p>
                        
                      </div>
                   
                      <div class="clear"></div>
                  </div>				
                </div>
                </a>
                </div>
              <div class="clear"></div>